[submodule "modules/apt"]
	path = modules/apt
	url = git://github.com/coralnexus/puppetlabs-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/coralnexus/puppetlabs-stdlib.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = git://github.com/coralnexus/puppetlabs-firewall.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = git://github.com/coralnexus/puppetlabs-vcsrepo.git
[submodule "modules/coral"]
	path = modules/coral
	url = git://github.com/coralnexus/puppet-coral.git
[submodule "modules/git"]
	path = modules/git
	url = git://github.com/coralnexus/puppet-git.git
[submodule "modules/users"]
	path = modules/users
	url = git://github.com/coralnexus/puppet-users.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = git://github.com/coralnexus/puppet-ntp.git
